<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'card_list' %}" class="nav-link px-2 link-secondary">Cards</a></li>
                <li><a href="{% url 'card_generator' %}" class="nav-link px-2 link-dark">Cards Generator</a></li>
            </ul>
        </div>
    </div>
</header>